@import '../styles/custom-properties.module.scss';

.gameArea {
  width: 80vw;
  height: 100vh;
  z-index: 3;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
